In [54]:
import pandas as pd
import pathlib

In [55]:
# Store filepath in a variable
GDP_path = pathlib.Path("../Extraction/GDP_per_capita.csv")

In [56]:
# Read and display the CSV with Pandas
GDP_file_df = pd.read_csv(GDP_path, encoding="ISO-8859-1")
GDP_file_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"GDP per capita, total",SP.GDP_PC.TOTL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,24985.993280,24713.698050,26189.435510,26647.938100,27980.880700,28281.350480,29007.693000,0.000000,0.000000,0
1,Afghanistan,AFG,"GDP per capita, total",SP.GDP_PC.TOTL,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,591.162759,641.871479,637.165523,613.856689,578.466353,509.218661,519.884773,493.750418,507.103432,0
2,Angola,AGO,"GDP per capita, total",SP.GDP_PC.TOTL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4615.480973,5100.101637,5254.887611,5408.403061,4166.992267,3506.078048,4095.818900,3289.639173,2790.726615,0
3,Albania,ALB,"GDP per capita, total",SP.GDP_PC.TOTL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5353.244856,0
4,Andorra,AND,"GDP per capita, total",SP.GDP_PC.TOTL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,43335.328860,38686.461270,39538.766720,41303.929370,35762.523080,37474.665410,38962.880350,41793.055260,40886.391160,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"GDP per capita, total",SP.GDP_PC.TOTL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3741.875052,3596.804655,3891.266363,4080.330717,3603.025501,3780.003689,4045.614209,4419.914327,4417.524062,0
260,"Yemen, Rep.",YEM,"GDP per capita, total",SP.GDP_PC.TOTL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1374.621285,1446.536354,1607.152365,1673.146354,1602.037841,1138.682995,960.528534,824.117629,774.334490,0
261,South Africa,ZAF,"GDP per capita, total",SP.GDP_PC.TOTL,443.009816,454.962013,473.011615,511.497253,548.995942,584.704072,...,8007.415251,7501.475612,6832.449618,6433.195063,5734.642245,5272.913395,6132.477794,6374.029238,6001.406804,0
262,Zambia,ZMB,"GDP per capita, total",SP.GDP_PC.TOTL,232.188867,220.042137,212.578123,213.896441,242.384332,303.281910,...,1672.908251,1763.072733,1878.909697,1763.062571,1337.795586,1280.578447,1534.866751,1516.390661,1305.063254,0
263,Zimbabwe,ZWE,"GDP per capita, total",SP.GDP_PC.TOTL,278.813699,280.828951,276.688781,277.479715,281.558440,293.308854,...,1093.654002,1304.969802,1430.000818,1434.899340,1445.071062,1464.583529,1548.170056,1683.740577,1463.985910,0

In [57]:
# Delete columns: 1960 through 2004, Indicator Name, and Indicator Code)

GDP_DropC_df = GDP_file_df.drop(GDP_file_df.iloc[:, 2:49], axis = 1)
GDP_DropC_df.head()

,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,23300.039560,24045.272490,25835.132670,27084.703690,24630.453720,23512.602590,24985.993280,24713.698050,26189.435510,26647.938100,27980.880700,28281.350480,29007.693000,0.000000,0.000000,0
1,Afghanistan,AFG,242.031285,263.733692,359.693238,364.660745,438.076034,543.303042,591.162759,641.871479,637.165523,613.856689,578.466353,509.218661,519.884773,493.750418,507.103432,0
2,Angola,AGO,1902.422346,2599.566464,3121.995637,4080.941410,3122.780766,3587.883798,4615.480973,5100.101637,5254.887611,5408.403061,4166.992267,3506.078048,4095.818900,3289.639173,2790.726615,0
3,Albania,ALB,2673.787282,2972.743265,3595.037163,4370.540127,4114.140114,4094.350335,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5353.244856,0
4,Andorra,AND,40066.256910,42675.812760,47803.693600,48718.496860,43503.185510,40852.666780,43335.328860,38686.461270,39538.766720,41303.929370,35762.523080,37474.665410,38962.880350,41793.055260,40886.391160,0

In [58]:
# Delete column (2020)

GDP_Drop2020_df =  GDP_DropC_df.drop(columns="2020")
GDP_Drop2020_df.head()

,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,23300.039560,24045.272490,25835.132670,27084.703690,24630.453720,23512.602590,24985.993280,24713.698050,26189.435510,26647.938100,27980.880700,28281.350480,29007.693000,0.000000,0.000000
1,Afghanistan,AFG,242.031285,263.733692,359.693238,364.660745,438.076034,543.303042,591.162759,641.871479,637.165523,613.856689,578.466353,509.218661,519.884773,493.750418,507.103432
2,Angola,AGO,1902.422346,2599.566464,3121.995637,4080.941410,3122.780766,3587.883798,4615.480973,5100.101637,5254.887611,5408.403061,4166.992267,3506.078048,4095.818900,3289.639173,2790.726615
3,Albania,ALB,2673.787282,2972.743265,3595.037163,4370.540127,4114.140114,4094.350335,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5353.244856
4,Andorra,AND,40066.256910,42675.812760,47803.693600,48718.496860,43503.185510,40852.666780,43335.328860,38686.461270,39538.766720,41303.929370,35762.523080,37474.665410,38962.880350,41793.055260,40886.391160

In [59]:
# List all the columns in the table
GDP_Drop2020_df.columns

Index(['Country Name', 'Country Code', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019'],
      dtype='object')

In [60]:
# Load in file
EU_Country_path = "../Extraction/EU_Countries.csv"

In [62]:
# Read and display the CSV with Pandas
EU_file_df = pd.read_csv(EU_Country_path)
GDP_file_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"GDP per capita, total",SP.GDP_PC.TOTL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,24985.993280,24713.698050,26189.435510,26647.938100,27980.880700,28281.350480,29007.693000,0.000000,0.000000,0
1,Afghanistan,AFG,"GDP per capita, total",SP.GDP_PC.TOTL,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,591.162759,641.871479,637.165523,613.856689,578.466353,509.218661,519.884773,493.750418,507.103432,0
2,Angola,AGO,"GDP per capita, total",SP.GDP_PC.TOTL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4615.480973,5100.101637,5254.887611,5408.403061,4166.992267,3506.078048,4095.818900,3289.639173,2790.726615,0
3,Albania,ALB,"GDP per capita, total",SP.GDP_PC.TOTL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5353.244856,0
4,Andorra,AND,"GDP per capita, total",SP.GDP_PC.TOTL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,43335.328860,38686.461270,39538.766720,41303.929370,35762.523080,37474.665410,38962.880350,41793.055260,40886.391160,0

In [63]:
# Merge two dataframes using a left join
merge_GDP_df = pd.merge(
    left=EU_file_df, 
    right=GDP_Drop2020_df, 
    on="Country Code", 
    how="left"
)

merge_GDP_df

,Country Name_x,Country Code,Country Name_y,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,AUT,Austria,38403.083000,40635.335360,46855.718050,51708.731220,47963.143700,46858.073580,51374.921450,48567.667510,50716.742550,51717.480530,44178.097610,45276.872140,47426.526840,51478.30088,50137.618650
1,Belgium,BEL,Belgium,36795.981760,38672.698550,44262.872090,48106.937340,44583.551340,44141.912150,47348.568580,44673.092440,46744.688140,47700.533600,40991.836580,41984.139330,44192.616930,47583.04284,46420.624070
2,Bulgaria,BGR,Bulgaria,3899.907638,4523.050833,5885.104348,7265.735497,6988.233325,6812.406338,7809.425062,7395.849803,7655.129708,7876.866465,7055.935673,7548.855007,8334.081728,9427.73043,9828.148515
3,Croatia,HRV,Croatia,10527.892680,11695.944660,13937.448390,16296.805920,14540.641600,13949.326500,14609.524350,13258.359850,13674.417800,13599.409780,11781.734790,12361.483830,13451.624950,15014.08502,14936.100550
4,Cyprus,CYP,Cyprus,17937.231570,19199.093220,22533.111870,25744.870150,23627.896780,23127.948210,24506.277020,22006.608920,20894.818650,20096.460520,17091.008330,17906.063350,19267.245660,21281.89944,20815.497910
5,Czech Republic,CZE,Czech Republic,13430.623740,15261.788250,18466.567260,22804.530900,19861.669010,19960.074120,21871.291480,19870.827920,20133.205610,19890.935660,17829.693540,18575.225540,20636.205530,23415.86886,23494.642640
6,Denmark,DNK,Denmark,48799.763520,52027.009130,58486.977240,64322.056440,58163.221890,58041.348070,61753.622430,58507.518100,61191.123950,62549.050010,53254.843900,54664.010710,57610.087110,61598.45044,60170.286320
7,Estonia,EST,Estonia,10406.396690,12631.568050,16741.939230,18227.119530,14794.971100,14790.820920,17621.547960,17534.421350,19174.100330,20367.103160,17522.230190,18437.252820,20458.460730,23170.70738,23723.306110
8,Finland,FIN,Finland,39040.269180,41188.181080,48414.928380,53554.043280,47294.081460,46459.937740,51082.053760,47710.820760,49877.991650,50260.257600,42784.683580,43784.300880,46336.616550,50030.95807,48782.732290
9,France,FRA,France,34760.249440,36443.566040,41508.383230,45334.069520,41575.383450,40638.340940,43790.760050,40874.776230,42592.968550,43011.327030,36638.216540,37037.440020,38812.145400,41631.03162,40493.954310
10,Germany,DEU,Germany,34507.335340,36323.487640,41587.223510,45427.178100,41485.888790,41531.884360,46644.793430,43858.301580,46285.721340,47959.991360,41086.782260,42107.541530,44552.789370,47810.53751,46445.206300
11,Greece,GRC,Greece,22551.735570,24801.181670,28827.332070,31997.299830,29710.947590,26917.797050,25916.309550,22242.712120,21874.818460,21761.018430,18167.741020,18116.418460,18930.179130,20324.27078,19582.558270
12,Hungary,HUN,Hungary,11200.582130,11475.797240,13918.960040,15753.440760,13046.449790,13191.669660,14216.193440,12950.636280,13687.544490,14267.010240,12706.862160,13090.554200,14605.894630,16410.20406,16731.817130
13,Ireland,IRL,Ireland,50878.215270,54306.319910,61359.754230,61262.123730,52105.062980,48715.230070,51848.830720,48917.792310,51590.288190,55493.007340,61995.462740,63197.019770,69822.323470,78621.15384,78661.014880
14,Italy,ITA,Italy,32043.065970,33501.663170,37822.620130,40778.400550,37079.726980,36000.556500,38599.044600,35053.576090,35550.052270,35518.350810,30230.238860,30939.756080,32406.783130,34615.67488,33228.300610
15,Latvia,LVA,Latvia,7575.183393,9699.721662,14091.047650,16422.111980,12288.213830,11383.522410,13895.162570,13926.347310,15120.781890,15713.536970,13774.605270,14315.792890,15682.221450,17858.27998,17828.894660
16,Lithuania,LTU,Lithuania,7854.765279,9230.707981,12285.447050,14944.996650,11820.776160,11990.663020,14392.534260,14373.060520,15726.626830,16564.956550,14258.229330,14998.125060,16885.407390,19176.17652,19601.890830
17,Luxembourg,LUX,Luxembourg,80289.696410,89739.711700,106018.492800,114293.843300,103198.669300,104965.306100,115761.507700,106749.013600,113625.132900,118823.648400,101376.496600,104278.391000,107627.151000,116654.26110,114704.594200
18,Malta,MLT,Malta,15888.172460,16723.884270,19485.871150,22205.356770,21083.277050,21799.174390,23155.554770,22527.636860,24771.076680,26754.268590,24921.603570,25617.826910,28091.861650,30437.22151,29820.603250
19,Netherlands,NLD,Netherlands,41979.077280,44863.359160,51733.471310,57644.500870,52514.012380,50950.040670,54159.347760,50072.987330,52184.090480,52830.155790,45175.234860,46007.842250,48675.243250,53044.50701,52331.324620
20,Poland,POL,Poland,8021.496933,9035.410386,11254.530360,13996.023000,11526.068770,12613.006290,13879.553920,13097.282190,13696.459400,14271.303320,12578.497810,12447.430000,13864.684990,15468.48893,15692.501570
21,Portugal,PRT,Portugal,18773.093870,19822.875020,22782.113270,24847.566010,23059.831970,22498.699530,23186.891670,20564.927070,21647.089420,22074.284340,19242.376670,19978.399010,21490.442030,23562.54319,23252.050240
22,Romania,ROU,Romania,4617.929016,5757.496546,8360.156610,10435.062050,8548.133601,8214.059348,9099.230437,8507.114481,9547.834827,10043.659200,8969.138280,9548.596616,10807.773820,12399.86864,12919.506710
23,Slovak Republic,SVK,Slovak Republic,11685.754820,13159.759440,16085.611520,18677.383930,16531.670510,16750.797440,18361.569480,17481.895440,18260.015770,18674.396510,16310.988410,16508.670360,17556.600820,19406.36021,19266.335450
24,Slovenia,SVN,Slovenia,18098.908540,19672.965560,23787.646560,27483.337170,24694.230490,23509.543140,25095.132290,22643.100250,23496.602500,24214.922070,20881.766930,21663.643410,23512.817270,26115.91337,25946.182190
25,Spain,ESP,Spain,26419.396260,28365.226290,32549.946100,35366.154220,32042.398690,30502.676040,31636.385890,28324.427390,29059.603010,29461.575190,25732.034080,26505.428890,28170.183330,30389.27894,29600.367110
26,Sweden,SWE,Sweden,43437.053270,46593.553990,53700.050240,56152.536160,46946.958730,52869.091330,60755.747600,58037.849970,61126.961760,60020.358680,51545.505920,51965.190260,53791.533610,54589.02388,51615.033390

In [64]:
# List all the columns in the table
merge_GDP_df.columns

Index(['Country Name_x', 'Country Code', 'Country Name_y', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019'],
      dtype='object')

In [65]:
# Delete column (Country Name_y)

merge_GDP_df_Clean =  (merge_GDP_df
.drop(columns="Country Name_y")
.round(decimals=0))
merge_GDP_df_Clean.head()

,Country Name_x,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,AUT,38403.0,40635.0,46856.0,51709.0,47963.0,46858.0,51375.0,48568.0,50717.0,51717.0,44178.0,45277.0,47427.0,51478.0,50138.0
1,Belgium,BEL,36796.0,38673.0,44263.0,48107.0,44584.0,44142.0,47349.0,44673.0,46745.0,47701.0,40992.0,41984.0,44193.0,47583.0,46421.0
2,Bulgaria,BGR,3900.0,4523.0,5885.0,7266.0,6988.0,6812.0,7809.0,7396.0,7655.0,7877.0,7056.0,7549.0,8334.0,9428.0,9828.0
3,Croatia,HRV,10528.0,11696.0,13937.0,16297.0,14541.0,13949.0,14610.0,13258.0,13674.0,13599.0,11782.0,12361.0,13452.0,15014.0,14936.0
4,Cyprus,CYP,17937.0,19199.0,22533.0,25745.0,23628.0,23128.0,24506.0,22007.0,20895.0,20096.0,17091.0,17906.0,19267.0,21282.0,20815.0

In [66]:
# Rename column (Country Name_x)
Final_GDP_df_Clean = merge_GDP_df_Clean.rename(columns={"Country Name_x":"Country Name"})
Final_GDP_df_Clean

,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,AUT,38403.0,40635.0,46856.0,51709.0,47963.0,46858.0,51375.0,48568.0,50717.0,51717.0,44178.0,45277.0,47427.0,51478.0,50138.0
1,Belgium,BEL,36796.0,38673.0,44263.0,48107.0,44584.0,44142.0,47349.0,44673.0,46745.0,47701.0,40992.0,41984.0,44193.0,47583.0,46421.0
2,Bulgaria,BGR,3900.0,4523.0,5885.0,7266.0,6988.0,6812.0,7809.0,7396.0,7655.0,7877.0,7056.0,7549.0,8334.0,9428.0,9828.0
3,Croatia,HRV,10528.0,11696.0,13937.0,16297.0,14541.0,13949.0,14610.0,13258.0,13674.0,13599.0,11782.0,12361.0,13452.0,15014.0,14936.0
4,Cyprus,CYP,17937.0,19199.0,22533.0,25745.0,23628.0,23128.0,24506.0,22007.0,20895.0,20096.0,17091.0,17906.0,19267.0,21282.0,20815.0
5,Czech Republic,CZE,13431.0,15262.0,18467.0,22805.0,19862.0,19960.0,21871.0,19871.0,20133.0,19891.0,17830.0,18575.0,20636.0,23416.0,23495.0
6,Denmark,DNK,48800.0,52027.0,58487.0,64322.0,58163.0,58041.0,61754.0,58508.0,61191.0,62549.0,53255.0,54664.0,57610.0,61598.0,60170.0
7,Estonia,EST,10406.0,12632.0,16742.0,18227.0,14795.0,14791.0,17622.0,17534.0,19174.0,20367.0,17522.0,18437.0,20458.0,23171.0,23723.0
8,Finland,FIN,39040.0,41188.0,48415.0,53554.0,47294.0,46460.0,51082.0,47711.0,49878.0,50260.0,42785.0,43784.0,46337.0,50031.0,48783.0
9,France,FRA,34760.0,36444.0,41508.0,45334.0,41575.0,40638.0,43791.0,40875.0,42593.0,43011.0,36638.0,37037.0,38812.0,41631.0,40494.0
10,Germany,DEU,34507.0,36323.0,41587.0,45427.0,41486.0,41532.0,46645.0,43858.0,46286.0,47960.0,41087.0,42108.0,44553.0,47811.0,46445.0
11,Greece,GRC,22552.0,24801.0,28827.0,31997.0,29711.0,26918.0,25916.0,22243.0,21875.0,21761.0,18168.0,18116.0,18930.0,20324.0,19583.0
12,Hungary,HUN,11201.0,11476.0,13919.0,15753.0,13046.0,13192.0,14216.0,12951.0,13688.0,14267.0,12707.0,13091.0,14606.0,16410.0,16732.0
13,Ireland,IRL,50878.0,54306.0,61360.0,61262.0,52105.0,48715.0,51849.0,48918.0,51590.0,55493.0,61995.0,63197.0,69822.0,78621.0,78661.0
14,Italy,ITA,32043.0,33502.0,37823.0,40778.0,37080.0,36001.0,38599.0,35054.0,35550.0,35518.0,30230.0,30940.0,32407.0,34616.0,33228.0
15,Latvia,LVA,7575.0,9700.0,14091.0,16422.0,12288.0,11384.0,13895.0,13926.0,15121.0,15714.0,13775.0,14316.0,15682.0,17858.0,17829.0
16,Lithuania,LTU,7855.0,9231.0,12285.0,14945.0,11821.0,11991.0,14393.0,14373.0,15727.0,16565.0,14258.0,14998.0,16885.0,19176.0,19602.0
17,Luxembourg,LUX,80290.0,89740.0,106018.0,114294.0,103199.0,104965.0,115762.0,106749.0,113625.0,118824.0,101376.0,104278.0,107627.0,116654.0,114705.0
18,Malta,MLT,15888.0,16724.0,19486.0,22205.0,21083.0,21799.0,23156.0,22528.0,24771.0,26754.0,24922.0,25618.0,28092.0,30437.0,29821.0
19,Netherlands,NLD,41979.0,44863.0,51733.0,57645.0,52514.0,50950.0,54159.0,50073.0,52184.0,52830.0,45175.0,46008.0,48675.0,53045.0,52331.0
20,Poland,POL,8021.0,9035.0,11255.0,13996.0,11526.0,12613.0,13880.0,13097.0,13696.0,14271.0,12578.0,12447.0,13865.0,15468.0,15693.0
21,Portugal,PRT,18773.0,19823.0,22782.0,24848.0,23060.0,22499.0,23187.0,20565.0,21647.0,22074.0,19242.0,19978.0,21490.0,23563.0,23252.0
22,Romania,ROU,4618.0,5757.0,8360.0,10435.0,8548.0,8214.0,9099.0,8507.0,9548.0,10044.0,8969.0,9549.0,10808.0,12400.0,12920.0
23,Slovak Republic,SVK,11686.0,13160.0,16086.0,18677.0,16532.0,16751.0,18362.0,17482.0,18260.0,18674.0,16311.0,16509.0,17557.0,19406.0,19266.0
24,Slovenia,SVN,18099.0,19673.0,23788.0,27483.0,24694.0,23510.0,25095.0,22643.0,23497.0,24215.0,20882.0,21664.0,23513.0,26116.0,25946.0
25,Spain,ESP,26419.0,28365.0,32550.0,35366.0,32042.0,30503.0,31636.0,28324.0,29060.0,29462.0,25732.0,26505.0,28170.0,30389.0,29600.0
26,Sweden,SWE,43437.0,46594.0,53700.0,56153.0,46947.0,52869.0,60756.0,58038.0,61127.0,60020.0,51546.0,51965.0,53792.0,54589.0,51615.0

In [67]:
# Unpivot three dataframes.

FV_GDP_df = pd.melt(Final_GDP_df_Clean,id_vars=["Country Name", "Country Code"],var_name = 'Year', value_name = 'GDP')
FV_GDP_df

        Country Name Country Code  Year      GDP
0            Austria          AUT  2005  38403.0
1            Belgium          BEL  2005  36796.0
2           Bulgaria          BGR  2005   3900.0
3            Croatia          HRV  2005  10528.0
4             Cyprus          CYP  2005  17937.0
..               ...          ...   ...      ...
400          Romania          ROU  2019  12920.0
401  Slovak Republic          SVK  2019  19266.0
402         Slovenia          SVN  2019  25946.0
403            Spain          ESP  2019  29600.0
404           Sweden          SWE  2019  51615.0

[405 rows x 4 columns]

In [68]:
FV_GDP_Sort_df = FV_GDP_df.sort_values(['Country Name', 'Year' ], ascending=[True, True])
FV_GDP_Sort_df

    Country Name Country Code  Year      GDP
0        Austria          AUT  2005  38403.0
27       Austria          AUT  2006  40635.0
54       Austria          AUT  2007  46856.0
81       Austria          AUT  2008  51709.0
108      Austria          AUT  2009  47963.0
..           ...          ...   ...      ...
296       Sweden          SWE  2015  51546.0
323       Sweden          SWE  2016  51965.0
350       Sweden          SWE  2017  53792.0
377       Sweden          SWE  2018  54589.0
404       Sweden          SWE  2019  51615.0

[405 rows x 4 columns]

In [69]:
GDP_lag_df = FV_GDP_Sort_df.groupby(['Country Name'])['GDP'].shift(1)
GDP_lag_df

0          NaN
27     38403.0
54     40635.0
81     46856.0
108    51709.0
        ...
296    60020.0
323    51546.0
350    51965.0
377    53792.0
404    54589.0
Name: GDP, Length: 405, dtype: float64

In [70]:
FV_GDP_Sort_df['lastValue'] = ""
FV_GDP_Sort_df

    Country Name Country Code  Year      GDP lastValue
0        Austria          AUT  2005  38403.0
27       Austria          AUT  2006  40635.0
54       Austria          AUT  2007  46856.0
81       Austria          AUT  2008  51709.0
108      Austria          AUT  2009  47963.0
..           ...          ...   ...      ...       ...
296       Sweden          SWE  2015  51546.0
323       Sweden          SWE  2016  51965.0
350       Sweden          SWE  2017  53792.0
377       Sweden          SWE  2018  54589.0
404       Sweden          SWE  2019  51615.0

[405 rows x 5 columns]

In [71]:
FV_GDP_Sort_df['lastValue'] = GDP_lag_df
FV_GDP_Sort_df

    Country Name Country Code  Year      GDP  lastValue
0        Austria          AUT  2005  38403.0        NaN
27       Austria          AUT  2006  40635.0    38403.0
54       Austria          AUT  2007  46856.0    40635.0
81       Austria          AUT  2008  51709.0    46856.0
108      Austria          AUT  2009  47963.0    51709.0
..           ...          ...   ...      ...        ...
296       Sweden          SWE  2015  51546.0    60020.0
323       Sweden          SWE  2016  51965.0    51546.0
350       Sweden          SWE  2017  53792.0    51965.0
377       Sweden          SWE  2018  54589.0    53792.0
404       Sweden          SWE  2019  51615.0    54589.0

[405 rows x 5 columns]

In [72]:
FV_GDP_Sort_df.loc[FV_GDP_Sort_df['lastValue'].isnull(),'lastValue'] = FV_GDP_Sort_df['GDP']
FV_GDP_Sort_df

    Country Name Country Code  Year      GDP  lastValue
0        Austria          AUT  2005  38403.0    38403.0
27       Austria          AUT  2006  40635.0    38403.0
54       Austria          AUT  2007  46856.0    40635.0
81       Austria          AUT  2008  51709.0    46856.0
108      Austria          AUT  2009  47963.0    51709.0
..           ...          ...   ...      ...        ...
296       Sweden          SWE  2015  51546.0    60020.0
323       Sweden          SWE  2016  51965.0    51546.0
350       Sweden          SWE  2017  53792.0    51965.0
377       Sweden          SWE  2018  54589.0    53792.0
404       Sweden          SWE  2019  51615.0    54589.0

[405 rows x 5 columns]

In [73]:
FV_GDP_Sort_df.to_csv("Resources/Clean_GDP.csv", index=False)

In [74]:
# Dependencies
import pandas as pd
import pathlib

In [77]:
# Load in file
CPI_path = "../Extraction/CPI.csv"

In [78]:
# Read and display the CSV with Pandas
CPI_file_df = pd.read_csv(CPI_path)
CPI_file_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Consumer price index (2010 = 100),FP.CPI.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,104.316297,104.970853,102.480876,102.912772,103.401365,102.438495,101.385139,105.061406,109.534355,NaN
1,Afghanistan,AFG,Consumer price index (2010 = 100),FP.CPI.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,111.804186,119.005731,127.795223,133.768367,132.883209,138.708665,145.610741,146.522482,149.895975,NaN
2,Angola,AGO,Consumer price index (2010 = 100),FP.CPI.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,113.482468,125.146088,136.131179,146.042056,159.405448,208.335449,270.510220,323.607609,378.883721,NaN
3,Albania,ALB,Consumer price index (2010 = 100),FP.CPI.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,103.429123,105.530385,107.575160,109.324187,111.397164,112.817959,115.059270,117.392740,119.049258,NaN
4,Andorra,AND,Consumer price index (2010 = 100),FP.CPI.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
# Delete columns: 1960 through 2004, Indicator Name, and Indicator Code)

CPI_DropC_df = CPI_file_df.drop(CPI_file_df.iloc[:, 2:49], axis = 1)
CPI_DropC_df.head()

,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,84.137048,87.172734,91.873583,100.101769,97.964167,100.0,104.316297,104.970853,102.480876,102.912772,103.401365,102.438495,101.385139,105.061406,109.534355,NaN
1,Afghanistan,AFG,71.582143,76.438703,83.074019,105.021065,97.867911,100.0,111.804186,119.005731,127.795223,133.768367,132.883209,138.708665,145.610741,146.522482,149.895975,NaN
2,Angola,AGO,53.694805,60.839012,68.292702,76.812782,87.359396,100.0,113.482468,125.146088,136.131179,146.042056,159.405448,208.335449,270.510220,323.607609,378.883721,NaN
3,Albania,ALB,86.669753,88.724458,91.326465,94.397899,96.504291,100.0,103.429123,105.530385,107.575160,109.324187,111.397164,112.817959,115.059270,117.392740,119.049258,NaN
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
# Delete column (2020)

CPI_Drop2020_df =  CPI_DropC_df.drop(columns="2020")
CPI_Drop2020_df.head()

,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,84.137048,87.172734,91.873583,100.101769,97.964167,100.0,104.316297,104.970853,102.480876,102.912772,103.401365,102.438495,101.385139,105.061406,109.534355
1,Afghanistan,AFG,71.582143,76.438703,83.074019,105.021065,97.867911,100.0,111.804186,119.005731,127.795223,133.768367,132.883209,138.708665,145.610741,146.522482,149.895975
2,Angola,AGO,53.694805,60.839012,68.292702,76.812782,87.359396,100.0,113.482468,125.146088,136.131179,146.042056,159.405448,208.335449,270.510220,323.607609,378.883721
3,Albania,ALB,86.669753,88.724458,91.326465,94.397899,96.504291,100.0,103.429123,105.530385,107.575160,109.324187,111.397164,112.817959,115.059270,117.392740,119.049258
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# List all the columns in the table
CPI_Drop2020_df.columns

Index(['Country Name', 'Country Code', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019'],
      dtype='object')

In [82]:
# Merge two dataframes using a left join
merge_CPI_df = pd.merge(
    left=EU_file_df, 
    right=CPI_Drop2020_df, 
    on="Country Code", 
    how="left"
)

merge_CPI_df

,Country Name_x,Country Code,Country Name_y,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,AUT,Austria,91.352665,92.669557,94.679148,97.723982,98.218767,100.0,103.286582,105.853949,107.971196,109.705002,110.688579,111.675470,113.999737,116.277887,118.057980
1,Belgium,BEL,Belgium,90.405871,92.025228,93.702900,97.909639,97.857604,100.0,103.532082,106.472045,107.657181,108.023218,108.629692,110.773882,113.128903,115.451626,117.110457
2,Bulgaria,BGR,Bulgaria,72.725637,78.006678,84.561216,95.003443,97.619080,100.0,104.219904,107.299152,108.254215,106.718971,106.607307,105.755782,107.938957,110.974059,114.418393
3,Croatia,HRV,Croatia,85.835719,88.573729,91.141732,96.680387,98.979957,100.0,102.272727,105.762348,108.106657,107.874016,107.372942,106.164996,107.363994,108.974588,109.815676
4,Cyprus,CYP,Cyprus,88.768803,90.814646,92.969362,97.310109,97.627609,100.0,103.289449,105.757090,105.334741,103.907467,101.728530,100.274660,100.807887,102.254975,102.510992
5,Czech Republic,CZE,Czech Republic,86.973661,89.177567,91.721914,97.554202,98.548647,100.0,101.917219,105.267873,106.781939,107.149256,107.480738,108.215374,110.867228,113.250314,116.475542
6,Denmark,DNK,Denmark,90.009821,91.741809,93.295242,96.482457,97.741273,100.0,102.758682,105.222748,106.053031,106.651192,107.133292,107.401125,108.633158,109.517007,110.347290
7,Estonia,EST,Estonia,79.100781,82.610974,88.064393,97.189941,97.113736,100.0,104.981901,109.111259,112.145171,112.026100,111.474567,111.640312,115.455325,119.422747,122.142313
8,Finland,FIN,Finland,91.213406,92.642413,94.968354,98.829723,98.829722,100.0,103.416808,106.321099,107.892829,109.016205,108.789529,109.177565,110.000780,111.192991,112.331712
9,France,FRA,France,92.756339,94.310123,95.713456,98.405744,98.491967,100.0,102.111598,104.107058,105.006247,105.539425,105.579018,105.772581,106.864453,108.842316,110.048567
10,Germany,DEU,Germany,92.457705,93.916159,96.074674,98.599883,98.908242,100.0,102.075175,104.125345,105.692141,106.650555,107.199188,107.726338,109.352463,111.246632,112.854887
11,Greece,GRC,Greece,85.319417,88.046177,90.595116,94.357347,95.499151,100.0,103.329864,104.881391,103.914207,102.551673,100.771339,99.939318,101.059873,101.692133,101.949392
12,Hungary,HUN,Hungary,76.915149,79.938166,86.300240,91.514943,95.369289,100.0,103.929921,109.804191,111.707317,111.453109,111.384404,111.824115,114.450017,117.712126,121.642047
13,Ireland,IRL,Ireland,93.137340,96.799165,101.539532,105.662347,100.930678,100.0,102.557189,104.296773,104.827346,105.018700,104.714273,104.722971,105.079586,105.592763,106.584326
14,Italy,ITA,Italy,90.972511,92.874604,94.573969,97.740147,98.497406,100.0,102.780633,105.906565,107.198618,107.457018,107.498701,107.397634,108.714902,109.951520,110.623596
15,Latvia,LVA,Latvia,72.140883,76.856155,84.613229,97.645629,101.096529,100.0,104.370736,106.727207,106.695771,107.357808,107.544871,107.696114,110.852002,113.661495,116.856985
16,Lithuania,LTU,Lithuania,77.657593,80.561303,85.183245,94.490269,98.697963,100.0,104.130276,107.347883,108.472330,108.584879,107.624883,108.599453,112.642490,115.681503,118.382098
17,Luxembourg,LUX,Luxembourg,89.692420,92.083902,94.213304,97.418327,97.776868,100.0,103.410683,106.164346,108.005278,108.684139,109.200109,109.517700,111.413231,113.115843,115.087815
18,Malta,MLT,Malta,88.945094,91.412235,92.554175,96.495707,98.506993,100.0,102.962985,105.409201,106.653329,106.984282,108.161695,108.856853,110.342047,111.619613,113.452474
19,Netherlands,NLD,Netherlands,92.679265,93.700128,95.212316,97.579772,98.740754,100.0,102.341070,104.854104,107.482690,108.531759,109.183218,109.528965,111.042063,112.933662,115.907995
20,Poland,POL,Poland,86.884388,88.000587,90.164295,93.919613,97.484231,100.0,104.239401,107.950711,109.021564,109.080241,108.126742,107.407951,109.637670,111.625348,114.111779
21,Portugal,PRT,Portugal,91.764879,94.616625,96.938484,99.447743,98.616827,100.0,103.653011,106.527660,106.819990,106.522866,107.042632,107.692806,109.166705,110.251512,110.624359
22,Romania,ROU,Romania,74.093496,78.952928,82.772142,89.270419,94.258332,100.0,105.789253,109.317243,113.673221,114.887603,114.204991,112.440756,113.946362,119.216933,123.780383
23,Slovak Republic,SVK,Slovak Republic,86.800820,90.692389,93.192527,97.477687,99.052054,100.0,103.919286,107.666722,109.174566,109.091413,108.736626,108.171185,109.590332,112.345474,115.338988
24,Slovenia,SVN,Slovenia,86.818523,88.952457,92.205889,97.413146,98.230698,100.0,101.802852,104.447093,106.294972,106.506864,105.947115,105.888845,107.402110,109.269412,111.051075
25,Spain,ESP,Spain,88.963719,92.091128,94.657735,98.515664,98.231942,100.0,103.196146,105.720324,107.209444,107.047697,106.511965,106.296095,108.375335,110.190695,110.961519
26,Sweden,SWE,Sweden,92.705673,93.966669,96.045371,99.346497,98.855268,100.0,102.961151,103.875834,103.829825,103.643306,103.594817,104.614469,106.491775,108.572129,110.509220

In [83]:
# Delete column (Country Name_y)

merge_CPI_df_Clean =  merge_CPI_df.drop(columns="Country Name_y")
merge_CPI_df_Clean.head()

,Country Name_x,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,AUT,91.352665,92.669557,94.679148,97.723982,98.218767,100.0,103.286582,105.853949,107.971196,109.705002,110.688579,111.675470,113.999737,116.277887,118.057980
1,Belgium,BEL,90.405871,92.025228,93.702900,97.909639,97.857604,100.0,103.532082,106.472045,107.657181,108.023218,108.629692,110.773882,113.128903,115.451626,117.110457
2,Bulgaria,BGR,72.725637,78.006678,84.561216,95.003443,97.619080,100.0,104.219904,107.299152,108.254215,106.718971,106.607307,105.755782,107.938957,110.974059,114.418393
3,Croatia,HRV,85.835719,88.573729,91.141732,96.680387,98.979957,100.0,102.272727,105.762348,108.106657,107.874016,107.372942,106.164996,107.363994,108.974588,109.815676
4,Cyprus,CYP,88.768803,90.814646,92.969362,97.310109,97.627609,100.0,103.289449,105.757090,105.334741,103.907467,101.728530,100.274660,100.807887,102.254975,102.510992

In [84]:
# Rename column (Country Name_x)
Final_CPI_df_Clean = merge_CPI_df_Clean.rename(columns={"Country Name_x":"Country Name"})
Final_CPI_df_Clean

,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,AUT,91.352665,92.669557,94.679148,97.723982,98.218767,100.0,103.286582,105.853949,107.971196,109.705002,110.688579,111.675470,113.999737,116.277887,118.057980
1,Belgium,BEL,90.405871,92.025228,93.702900,97.909639,97.857604,100.0,103.532082,106.472045,107.657181,108.023218,108.629692,110.773882,113.128903,115.451626,117.110457
2,Bulgaria,BGR,72.725637,78.006678,84.561216,95.003443,97.619080,100.0,104.219904,107.299152,108.254215,106.718971,106.607307,105.755782,107.938957,110.974059,114.418393
3,Croatia,HRV,85.835719,88.573729,91.141732,96.680387,98.979957,100.0,102.272727,105.762348,108.106657,107.874016,107.372942,106.164996,107.363994,108.974588,109.815676
4,Cyprus,CYP,88.768803,90.814646,92.969362,97.310109,97.627609,100.0,103.289449,105.757090,105.334741,103.907467,101.728530,100.274660,100.807887,102.254975,102.510992
5,Czech Republic,CZE,86.973661,89.177567,91.721914,97.554202,98.548647,100.0,101.917219,105.267873,106.781939,107.149256,107.480738,108.215374,110.867228,113.250314,116.475542
6,Denmark,DNK,90.009821,91.741809,93.295242,96.482457,97.741273,100.0,102.758682,105.222748,106.053031,106.651192,107.133292,107.401125,108.633158,109.517007,110.347290
7,Estonia,EST,79.100781,82.610974,88.064393,97.189941,97.113736,100.0,104.981901,109.111259,112.145171,112.026100,111.474567,111.640312,115.455325,119.422747,122.142313
8,Finland,FIN,91.213406,92.642413,94.968354,98.829723,98.829722,100.0,103.416808,106.321099,107.892829,109.016205,108.789529,109.177565,110.000780,111.192991,112.331712
9,France,FRA,92.756339,94.310123,95.713456,98.405744,98.491967,100.0,102.111598,104.107058,105.006247,105.539425,105.579018,105.772581,106.864453,108.842316,110.048567
10,Germany,DEU,92.457705,93.916159,96.074674,98.599883,98.908242,100.0,102.075175,104.125345,105.692141,106.650555,107.199188,107.726338,109.352463,111.246632,112.854887
11,Greece,GRC,85.319417,88.046177,90.595116,94.357347,95.499151,100.0,103.329864,104.881391,103.914207,102.551673,100.771339,99.939318,101.059873,101.692133,101.949392
12,Hungary,HUN,76.915149,79.938166,86.300240,91.514943,95.369289,100.0,103.929921,109.804191,111.707317,111.453109,111.384404,111.824115,114.450017,117.712126,121.642047
13,Ireland,IRL,93.137340,96.799165,101.539532,105.662347,100.930678,100.0,102.557189,104.296773,104.827346,105.018700,104.714273,104.722971,105.079586,105.592763,106.584326
14,Italy,ITA,90.972511,92.874604,94.573969,97.740147,98.497406,100.0,102.780633,105.906565,107.198618,107.457018,107.498701,107.397634,108.714902,109.951520,110.623596
15,Latvia,LVA,72.140883,76.856155,84.613229,97.645629,101.096529,100.0,104.370736,106.727207,106.695771,107.357808,107.544871,107.696114,110.852002,113.661495,116.856985
16,Lithuania,LTU,77.657593,80.561303,85.183245,94.490269,98.697963,100.0,104.130276,107.347883,108.472330,108.584879,107.624883,108.599453,112.642490,115.681503,118.382098
17,Luxembourg,LUX,89.692420,92.083902,94.213304,97.418327,97.776868,100.0,103.410683,106.164346,108.005278,108.684139,109.200109,109.517700,111.413231,113.115843,115.087815
18,Malta,MLT,88.945094,91.412235,92.554175,96.495707,98.506993,100.0,102.962985,105.409201,106.653329,106.984282,108.161695,108.856853,110.342047,111.619613,113.452474
19,Netherlands,NLD,92.679265,93.700128,95.212316,97.579772,98.740754,100.0,102.341070,104.854104,107.482690,108.531759,109.183218,109.528965,111.042063,112.933662,115.907995
20,Poland,POL,86.884388,88.000587,90.164295,93.919613,97.484231,100.0,104.239401,107.950711,109.021564,109.080241,108.126742,107.407951,109.637670,111.625348,114.111779
21,Portugal,PRT,91.764879,94.616625,96.938484,99.447743,98.616827,100.0,103.653011,106.527660,106.819990,106.522866,107.042632,107.692806,109.166705,110.251512,110.624359
22,Romania,ROU,74.093496,78.952928,82.772142,89.270419,94.258332,100.0,105.789253,109.317243,113.673221,114.887603,114.204991,112.440756,113.946362,119.216933,123.780383
23,Slovak Republic,SVK,86.800820,90.692389,93.192527,97.477687,99.052054,100.0,103.919286,107.666722,109.174566,109.091413,108.736626,108.171185,109.590332,112.345474,115.338988
24,Slovenia,SVN,86.818523,88.952457,92.205889,97.413146,98.230698,100.0,101.802852,104.447093,106.294972,106.506864,105.947115,105.888845,107.402110,109.269412,111.051075
25,Spain,ESP,88.963719,92.091128,94.657735,98.515664,98.231942,100.0,103.196146,105.720324,107.209444,107.047697,106.511965,106.296095,108.375335,110.190695,110.961519
26,Sweden,SWE,92.705673,93.966669,96.045371,99.346497,98.855268,100.0,102.961151,103.875834,103.829825,103.643306,103.594817,104.614469,106.491775,108.572129,110.509220

In [85]:
Final_CPI_df_ND = Final_CPI_df_Clean.round(decimals=2)
Final_CPI_df_ND

,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,AUT,91.35,92.67,94.68,97.72,98.22,100.0,103.29,105.85,107.97,109.71,110.69,111.68,114.00,116.28,118.06
1,Belgium,BEL,90.41,92.03,93.70,97.91,97.86,100.0,103.53,106.47,107.66,108.02,108.63,110.77,113.13,115.45,117.11
2,Bulgaria,BGR,72.73,78.01,84.56,95.00,97.62,100.0,104.22,107.30,108.25,106.72,106.61,105.76,107.94,110.97,114.42
3,Croatia,HRV,85.84,88.57,91.14,96.68,98.98,100.0,102.27,105.76,108.11,107.87,107.37,106.16,107.36,108.97,109.82
4,Cyprus,CYP,88.77,90.81,92.97,97.31,97.63,100.0,103.29,105.76,105.33,103.91,101.73,100.27,100.81,102.25,102.51
5,Czech Republic,CZE,86.97,89.18,91.72,97.55,98.55,100.0,101.92,105.27,106.78,107.15,107.48,108.22,110.87,113.25,116.48
6,Denmark,DNK,90.01,91.74,93.30,96.48,97.74,100.0,102.76,105.22,106.05,106.65,107.13,107.40,108.63,109.52,110.35
7,Estonia,EST,79.10,82.61,88.06,97.19,97.11,100.0,104.98,109.11,112.15,112.03,111.47,111.64,115.46,119.42,122.14
8,Finland,FIN,91.21,92.64,94.97,98.83,98.83,100.0,103.42,106.32,107.89,109.02,108.79,109.18,110.00,111.19,112.33
9,France,FRA,92.76,94.31,95.71,98.41,98.49,100.0,102.11,104.11,105.01,105.54,105.58,105.77,106.86,108.84,110.05
10,Germany,DEU,92.46,93.92,96.07,98.60,98.91,100.0,102.08,104.13,105.69,106.65,107.20,107.73,109.35,111.25,112.85
11,Greece,GRC,85.32,88.05,90.60,94.36,95.50,100.0,103.33,104.88,103.91,102.55,100.77,99.94,101.06,101.69,101.95
12,Hungary,HUN,76.92,79.94,86.30,91.51,95.37,100.0,103.93,109.80,111.71,111.45,111.38,111.82,114.45,117.71,121.64
13,Ireland,IRL,93.14,96.80,101.54,105.66,100.93,100.0,102.56,104.30,104.83,105.02,104.71,104.72,105.08,105.59,106.58
14,Italy,ITA,90.97,92.87,94.57,97.74,98.50,100.0,102.78,105.91,107.20,107.46,107.50,107.40,108.71,109.95,110.62
15,Latvia,LVA,72.14,76.86,84.61,97.65,101.10,100.0,104.37,106.73,106.70,107.36,107.54,107.70,110.85,113.66,116.86
16,Lithuania,LTU,77.66,80.56,85.18,94.49,98.70,100.0,104.13,107.35,108.47,108.58,107.62,108.60,112.64,115.68,118.38
17,Luxembourg,LUX,89.69,92.08,94.21,97.42,97.78,100.0,103.41,106.16,108.01,108.68,109.20,109.52,111.41,113.12,115.09
18,Malta,MLT,88.95,91.41,92.55,96.50,98.51,100.0,102.96,105.41,106.65,106.98,108.16,108.86,110.34,111.62,113.45
19,Netherlands,NLD,92.68,93.70,95.21,97.58,98.74,100.0,102.34,104.85,107.48,108.53,109.18,109.53,111.04,112.93,115.91
20,Poland,POL,86.88,88.00,90.16,93.92,97.48,100.0,104.24,107.95,109.02,109.08,108.13,107.41,109.64,111.63,114.11
21,Portugal,PRT,91.76,94.62,96.94,99.45,98.62,100.0,103.65,106.53,106.82,106.52,107.04,107.69,109.17,110.25,110.62
22,Romania,ROU,74.09,78.95,82.77,89.27,94.26,100.0,105.79,109.32,113.67,114.89,114.20,112.44,113.95,119.22,123.78
23,Slovak Republic,SVK,86.80,90.69,93.19,97.48,99.05,100.0,103.92,107.67,109.17,109.09,108.74,108.17,109.59,112.35,115.34
24,Slovenia,SVN,86.82,88.95,92.21,97.41,98.23,100.0,101.80,104.45,106.29,106.51,105.95,105.89,107.40,109.27,111.05
25,Spain,ESP,88.96,92.09,94.66,98.52,98.23,100.0,103.20,105.72,107.21,107.05,106.51,106.30,108.38,110.19,110.96
26,Sweden,SWE,92.71,93.97,96.05,99.35,98.86,100.0,102.96,103.88,103.83,103.64,103.59,104.61,106.49,108.57,110.51

In [86]:

Final_CPI_pc_df = (Final_CPI_df_ND
 .set_index(["Country Name", "Country Code"])
 .pct_change(axis='columns')
 .drop(['2005'], axis = 1))
Final_CPI_pc_df

,,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country Name,Country Code,,,,,,,,,,,,,,
Austria,AUT,0.014450,0.021690,0.032108,0.005117,0.018123,0.0329,0.024785,0.020028,0.016116,0.008933,0.008944,0.020774,0.020000,0.015308
Belgium,BEL,0.017918,0.018146,0.044931,-0.000511,0.021868,0.0353,0.028398,0.011177,0.003344,0.005647,0.019700,0.021305,0.020507,0.014379
Bulgaria,BGR,0.072597,0.083964,0.123463,0.027579,0.024380,0.0422,0.029553,0.008854,-0.014134,-0.001031,-0.007973,0.020613,0.028071,0.031089
Croatia,HRV,0.031803,0.029017,0.060786,0.023790,0.010305,0.0227,0.034125,0.022220,-0.002220,-0.004635,-0.011269,0.011304,0.014996,0.007800
Cyprus,CYP,0.022981,0.023786,0.046682,0.003288,0.024275,0.0329,0.023913,-0.004066,-0.013481,-0.020980,-0.014352,0.005385,0.014284,0.002543
Czech Republic,CZE,0.025411,0.028482,0.063563,0.010251,0.014713,0.0192,0.032869,0.014344,0.003465,0.003080,0.006885,0.024487,0.021467,0.028521
Denmark,DNK,0.019220,0.017005,0.034084,0.013060,0.023123,0.0276,0.023939,0.007888,0.005658,0.004501,0.002520,0.011453,0.008193,0.007579
Estonia,EST,0.044374,0.065973,0.103679,-0.000823,0.029760,0.0498,0.039341,0.027862,-0.001070,-0.004999,0.001525,0.034217,0.034298,0.022777
Finland,FIN,0.015678,0.025151,0.040644,0.000000,0.011839,0.0342,0.028041,0.014767,0.010474,-0.002110,0.003585,0.007511,0.010818,0.010253
France,FRA,0.016710,0.014845,0.028210,0.000813,0.015332,0.0211,0.019587,0.008645,0.005047,0.000379,0.001800,0.010305,0.018529,0.011117
Germany,DEU,0.015791,0.022892,0.026335,0.003144,0.011020,0.0208,0.020082,0.014981,0.009083,0.005157,0.004944,0.015038,0.017375,0.014382
Greece,GRC,0.031997,0.028961,0.041501,0.012081,0.047120,0.0333,0.015000,-0.009249,-0.013088,-0.017357,-0.008237,0.011207,0.006234,0.002557
Hungary,HUN,0.039262,0.079560,0.060371,0.042181,0.048548,0.0393,0.056480,0.017395,-0.002327,-0.000628,0.003950,0.023520,0.028484,0.033387
Ireland,IRL,0.039296,0.048967,0.040575,-0.044766,-0.009214,0.0256,0.016966,0.005081,0.001812,-0.002952,0.000096,0.003438,0.004853,0.009376
Italy,ITA,0.020886,0.018305,0.033520,0.007776,0.015228,0.0278,0.030453,0.012180,0.002425,0.000372,-0.000930,0.012197,0.011406,0.006094
Latvia,LVA,0.065428,0.100833,0.154119,0.035330,-0.010880,0.0437,0.022612,-0.000281,0.006186,0.001677,0.001488,0.029248,0.025350,0.028154
Lithuania,LTU,0.037342,0.057349,0.109298,0.044555,0.013171,0.0413,0.030923,0.010433,0.001014,-0.008841,0.009106,0.037201,0.026989,0.023340
Luxembourg,LUX,0.026647,0.023132,0.034073,0.003695,0.022704,0.0341,0.026593,0.017427,0.006203,0.004785,0.002930,0.017257,0.015349,0.017415
Malta,MLT,0.027656,0.012471,0.042680,0.020829,0.015125,0.0296,0.023796,0.011764,0.003094,0.011030,0.006472,0.013595,0.011601,0.016395
Netherlands,NLD,0.011006,0.016115,0.024892,0.011888,0.012761,0.0234,0.024526,0.025083,0.009769,0.005989,0.003206,0.013786,0.017021,0.026388
Poland,POL,0.012891,0.024545,0.041704,0.037905,0.025851,0.0424,0.035591,0.009912,0.000550,-0.008709,-0.006659,0.020762,0.018150,0.022216
Portugal,PRT,0.031168,0.024519,0.025892,-0.008346,0.013993,0.0365,0.027786,0.002722,-0.002808,0.004882,0.006072,0.013743,0.009893,0.003356
Romania,ROU,0.065596,0.048385,0.078531,0.055898,0.060895,0.0579,0.033368,0.039791,0.010733,-0.006006,-0.015412,0.013429,0.046248,0.038249
Slovak Republic,SVK,0.044816,0.027566,0.046035,0.016106,0.009591,0.0392,0.036085,0.013931,-0.000733,-0.003208,-0.005242,0.013127,0.025185,0.026613
Slovenia,SVN,0.024534,0.036650,0.056393,0.008418,0.018019,0.0180,0.026031,0.017616,0.002070,-0.005258,-0.000566,0.014260,0.017412,0.016290
Spain,ESP,0.035184,0.027907,0.040778,-0.002944,0.018019,0.0320,0.024419,0.014094,-0.001492,-0.005044,-0.001972,0.019567,0.016700,0.006988
Sweden,SWE,0.013591,0.022135,0.034357,-0.004932,0.011531,0.0296,0.008936,-0.000481,-0.001830,-0.000482,0.009847,0.017972,0.019532,0.017869

In [87]:
Final_CPI_pc_NI_df = (Final_CPI_pc_df
.reset_index()
.round(decimals=3))
Final_CPI_pc_NI_df

,Country Name,Country Code,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,AUT,0.014,0.022,0.032,0.005,0.018,0.033,0.025,0.020,0.016,0.009,0.009,0.021,0.020,0.015
1,Belgium,BEL,0.018,0.018,0.045,-0.001,0.022,0.035,0.028,0.011,0.003,0.006,0.020,0.021,0.021,0.014
2,Bulgaria,BGR,0.073,0.084,0.123,0.028,0.024,0.042,0.030,0.009,-0.014,-0.001,-0.008,0.021,0.028,0.031
3,Croatia,HRV,0.032,0.029,0.061,0.024,0.010,0.023,0.034,0.022,-0.002,-0.005,-0.011,0.011,0.015,0.008
4,Cyprus,CYP,0.023,0.024,0.047,0.003,0.024,0.033,0.024,-0.004,-0.013,-0.021,-0.014,0.005,0.014,0.003
5,Czech Republic,CZE,0.025,0.028,0.064,0.010,0.015,0.019,0.033,0.014,0.003,0.003,0.007,0.024,0.021,0.029
6,Denmark,DNK,0.019,0.017,0.034,0.013,0.023,0.028,0.024,0.008,0.006,0.005,0.003,0.011,0.008,0.008
7,Estonia,EST,0.044,0.066,0.104,-0.001,0.030,0.050,0.039,0.028,-0.001,-0.005,0.002,0.034,0.034,0.023
8,Finland,FIN,0.016,0.025,0.041,0.000,0.012,0.034,0.028,0.015,0.010,-0.002,0.004,0.008,0.011,0.010
9,France,FRA,0.017,0.015,0.028,0.001,0.015,0.021,0.020,0.009,0.005,0.000,0.002,0.010,0.019,0.011
10,Germany,DEU,0.016,0.023,0.026,0.003,0.011,0.021,0.020,0.015,0.009,0.005,0.005,0.015,0.017,0.014
11,Greece,GRC,0.032,0.029,0.042,0.012,0.047,0.033,0.015,-0.009,-0.013,-0.017,-0.008,0.011,0.006,0.003
12,Hungary,HUN,0.039,0.080,0.060,0.042,0.049,0.039,0.056,0.017,-0.002,-0.001,0.004,0.024,0.028,0.033
13,Ireland,IRL,0.039,0.049,0.041,-0.045,-0.009,0.026,0.017,0.005,0.002,-0.003,0.000,0.003,0.005,0.009
14,Italy,ITA,0.021,0.018,0.034,0.008,0.015,0.028,0.030,0.012,0.002,0.000,-0.001,0.012,0.011,0.006
15,Latvia,LVA,0.065,0.101,0.154,0.035,-0.011,0.044,0.023,-0.000,0.006,0.002,0.001,0.029,0.025,0.028
16,Lithuania,LTU,0.037,0.057,0.109,0.045,0.013,0.041,0.031,0.010,0.001,-0.009,0.009,0.037,0.027,0.023
17,Luxembourg,LUX,0.027,0.023,0.034,0.004,0.023,0.034,0.027,0.017,0.006,0.005,0.003,0.017,0.015,0.017
18,Malta,MLT,0.028,0.012,0.043,0.021,0.015,0.030,0.024,0.012,0.003,0.011,0.006,0.014,0.012,0.016
19,Netherlands,NLD,0.011,0.016,0.025,0.012,0.013,0.023,0.025,0.025,0.010,0.006,0.003,0.014,0.017,0.026
20,Poland,POL,0.013,0.025,0.042,0.038,0.026,0.042,0.036,0.010,0.001,-0.009,-0.007,0.021,0.018,0.022
21,Portugal,PRT,0.031,0.025,0.026,-0.008,0.014,0.036,0.028,0.003,-0.003,0.005,0.006,0.014,0.010,0.003
22,Romania,ROU,0.066,0.048,0.079,0.056,0.061,0.058,0.033,0.040,0.011,-0.006,-0.015,0.013,0.046,0.038
23,Slovak Republic,SVK,0.045,0.028,0.046,0.016,0.010,0.039,0.036,0.014,-0.001,-0.003,-0.005,0.013,0.025,0.027
24,Slovenia,SVN,0.025,0.037,0.056,0.008,0.018,0.018,0.026,0.018,0.002,-0.005,-0.001,0.014,0.017,0.016
25,Spain,ESP,0.035,0.028,0.041,-0.003,0.018,0.032,0.024,0.014,-0.001,-0.005,-0.002,0.020,0.017,0.007
26,Sweden,SWE,0.014,0.022,0.034,-0.005,0.012,0.030,0.009,-0.000,-0.002,-0.000,0.010,0.018,0.020,0.018

In [90]:
Final_CPI_pc_NI_df[Final_CPI_pc_NI_df.select_dtypes(include=['number']).columns] *= 100
Final_CPI_pc_NI_df

,Country Name,Country Code,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,AUT,1.4,2.2,3.2,0.5,1.8,3.3,2.5,2.0,1.6,0.9,0.9,2.1,2.0,1.5
1,Belgium,BEL,1.8,1.8,4.5,-0.1,2.2,3.5,2.8,1.1,0.3,0.6,2.0,2.1,2.1,1.4
2,Bulgaria,BGR,7.3,8.4,12.3,2.8,2.4,4.2,3.0,0.9,-1.4,-0.1,-0.8,2.1,2.8,3.1
3,Croatia,HRV,3.2,2.9,6.1,2.4,1.0,2.3,3.4,2.2,-0.2,-0.5,-1.1,1.1,1.5,0.8
4,Cyprus,CYP,2.3,2.4,4.7,0.3,2.4,3.3,2.4,-0.4,-1.3,-2.1,-1.4,0.5,1.4,0.3
5,Czech Republic,CZE,2.5,2.8,6.4,1.0,1.5,1.9,3.3,1.4,0.3,0.3,0.7,2.4,2.1,2.9
6,Denmark,DNK,1.9,1.7,3.4,1.3,2.3,2.8,2.4,0.8,0.6,0.5,0.3,1.1,0.8,0.8
7,Estonia,EST,4.4,6.6,10.4,-0.1,3.0,5.0,3.9,2.8,-0.1,-0.5,0.2,3.4,3.4,2.3
8,Finland,FIN,1.6,2.5,4.1,0.0,1.2,3.4,2.8,1.5,1.0,-0.2,0.4,0.8,1.1,1.0
9,France,FRA,1.7,1.5,2.8,0.1,1.5,2.1,2.0,0.9,0.5,0.0,0.2,1.0,1.9,1.1
10,Germany,DEU,1.6,2.3,2.6,0.3,1.1,2.1,2.0,1.5,0.9,0.5,0.5,1.5,1.7,1.4
11,Greece,GRC,3.2,2.9,4.2,1.2,4.7,3.3,1.5,-0.9,-1.3,-1.7,-0.8,1.1,0.6,0.3
12,Hungary,HUN,3.9,8.0,6.0,4.2,4.9,3.9,5.6,1.7,-0.2,-0.1,0.4,2.4,2.8,3.3
13,Ireland,IRL,3.9,4.9,4.1,-4.5,-0.9,2.6,1.7,0.5,0.2,-0.3,0.0,0.3,0.5,0.9
14,Italy,ITA,2.1,1.8,3.4,0.8,1.5,2.8,3.0,1.2,0.2,0.0,-0.1,1.2,1.1,0.6
15,Latvia,LVA,6.5,10.1,15.4,3.5,-1.1,4.4,2.3,-0.0,0.6,0.2,0.1,2.9,2.5,2.8
16,Lithuania,LTU,3.7,5.7,10.9,4.5,1.3,4.1,3.1,1.0,0.1,-0.9,0.9,3.7,2.7,2.3
17,Luxembourg,LUX,2.7,2.3,3.4,0.4,2.3,3.4,2.7,1.7,0.6,0.5,0.3,1.7,1.5,1.7
18,Malta,MLT,2.8,1.2,4.3,2.1,1.5,3.0,2.4,1.2,0.3,1.1,0.6,1.4,1.2,1.6
19,Netherlands,NLD,1.1,1.6,2.5,1.2,1.3,2.3,2.5,2.5,1.0,0.6,0.3,1.4,1.7,2.6
20,Poland,POL,1.3,2.5,4.2,3.8,2.6,4.2,3.6,1.0,0.1,-0.9,-0.7,2.1,1.8,2.2
21,Portugal,PRT,3.1,2.5,2.6,-0.8,1.4,3.6,2.8,0.3,-0.3,0.5,0.6,1.4,1.0,0.3
22,Romania,ROU,6.6,4.8,7.9,5.6,6.1,5.8,3.3,4.0,1.1,-0.6,-1.5,1.3,4.6,3.8
23,Slovak Republic,SVK,4.5,2.8,4.6,1.6,1.0,3.9,3.6,1.4,-0.1,-0.3,-0.5,1.3,2.5,2.7
24,Slovenia,SVN,2.5,3.7,5.6,0.8,1.8,1.8,2.6,1.8,0.2,-0.5,-0.1,1.4,1.7,1.6
25,Spain,ESP,3.5,2.8,4.1,-0.3,1.8,3.2,2.4,1.4,-0.1,-0.5,-0.2,2.0,1.7,0.7
26,Sweden,SWE,1.4,2.2,3.4,-0.5,1.2,3.0,0.9,-0.0,-0.2,-0.0,1.0,1.8,2.0,1.8

In [91]:
# Unpivot three dataframes.

FV_CPI_df = pd.melt(Final_CPI_pc_NI_df,id_vars=["Country Name", "Country Code"],var_name = 'Year', value_name = 'CPI')
FV_CPI_df

        Country Name Country Code  Year  CPI
0            Austria          AUT  2006  1.4
1            Belgium          BEL  2006  1.8
2           Bulgaria          BGR  2006  7.3
3            Croatia          HRV  2006  3.2
4             Cyprus          CYP  2006  2.3
..               ...          ...   ...  ...
373          Romania          ROU  2019  3.8
374  Slovak Republic          SVK  2019  2.7
375         Slovenia          SVN  2019  1.6
376            Spain          ESP  2019  0.7
377           Sweden          SWE  2019  1.8

[378 rows x 4 columns]

In [92]:
FV_CPI_Sort_df = FV_CPI_df.sort_values(['Country Name', 'Year' ], ascending=[True, True])
FV_CPI_Sort_df

    Country Name Country Code  Year  CPI
0        Austria          AUT  2006  1.4
27       Austria          AUT  2007  2.2
54       Austria          AUT  2008  3.2
81       Austria          AUT  2009  0.5
108      Austria          AUT  2010  1.8
..           ...          ...   ...  ...
269       Sweden          SWE  2015 -0.0
296       Sweden          SWE  2016  1.0
323       Sweden          SWE  2017  1.8
350       Sweden          SWE  2018  2.0
377       Sweden          SWE  2019  1.8

[378 rows x 4 columns]

In [93]:
FV_CPI_Sort_df.to_csv("Resources/Clean_CPI.csv", index=False)

In [94]:
# Dependencies
import pandas as pd
import pathlib

In [95]:
# Store filepath in a variable
Unemployment_path = pathlib.Path("../Extraction/unemployment.csv")

In [96]:
Unemployment_file = pd.read_csv(Unemployment_path, encoding="ISO-8859-1")
Unemployment_file

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.510000,11.52,11.540000,11.450000,11.390000,11.310000,11.180000,11.06,10.980000,11.73
2,Angola,AGO,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.360000,7.37,7.380000,7.310000,7.260000,7.200000,7.100000,7.00,6.930000,7.70
3,Albania,ALB,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.480000,13.38,15.870000,18.059999,17.190001,15.420000,13.620000,12.30,11.470000,11.70
4,Andorra,AND,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.080000,13.24,13.410000,13.470000,13.400000,13.310000,13.150000,13.01,12.900000,13.42
261,South Africa,ZAF,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,24.639999,24.73,24.559999,24.889999,25.150000,26.540001,27.040001,26.91,28.469999,28.74
262,Zambia,ZMB,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.340000,7.85,8.610000,9.340000,10.100000,10.880000,11.630000,12.01,11.910000,12.17
263,Zimbabwe,ZWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.370000,5.38,5.380000,5.330000,5.290000,5.240000,5.150000,5.07,5.020000,5.73

In [97]:
# Delete columns: 1960 through 2004, Indicator Name, and Indicator Code)

Unemp_DropC_df = Unemployment_file.drop(Unemployment_file.iloc[:, 2:49], axis = 1)
Unemp_DropC_df.head()

,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,11.52,11.34,11.18,11.11,11.46,11.52,11.51,11.52,11.54,11.450000,11.390000,11.31,11.18,11.06,10.98,11.73
2,Angola,AGO,3.81,3.73,3.66,3.63,3.78,9.43,7.36,7.37,7.38,7.310000,7.260000,7.20,7.10,7.00,6.93,7.70
3,Albania,ALB,16.40,16.17,15.97,13.06,13.67,14.09,13.48,13.38,15.87,18.059999,17.190001,15.42,13.62,12.30,11.47,11.70
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
# Delete column (2020)

Unemp_Drop2020_df =  Unemp_DropC_df.drop(columns="2020")
Unemp_Drop2020_df.head()

,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,11.52,11.34,11.18,11.11,11.46,11.52,11.51,11.52,11.54,11.450000,11.390000,11.31,11.18,11.06,10.98
2,Angola,AGO,3.81,3.73,3.66,3.63,3.78,9.43,7.36,7.37,7.38,7.310000,7.260000,7.20,7.10,7.00,6.93
3,Albania,ALB,16.40,16.17,15.97,13.06,13.67,14.09,13.48,13.38,15.87,18.059999,17.190001,15.42,13.62,12.30,11.47
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
# List all the columns in the table
Unemp_Drop2020_df.columns

Index(['Country Name', 'Country Code', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019'],
      dtype='object')

In [100]:
# Merge two dataframes using a left join
merge_Unemp_df = pd.merge(
    left=EU_file_df, 
    right=Unemp_Drop2020_df, 
    on="Country Code", 
    how="left"
)

merge_Unemp_df

,Country Name_x,Country Code,Country Name_y,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,AUT,Austria,5.63,5.24,4.86,4.13,5.300000,4.820000,4.560000,4.870000,5.340000,5.620000,5.720000,6.010000,5.500000,4.850000,4.490000
1,Belgium,BEL,Belgium,8.44,8.25,7.46,6.98,7.910000,8.290000,7.140000,7.540000,8.430000,8.520000,8.480000,7.830000,7.090000,5.950000,5.360000
2,Bulgaria,BGR,Bulgaria,10.08,8.95,6.88,5.61,6.820000,10.280000,11.260000,12.270000,12.940000,11.420000,9.140000,7.580000,6.160000,5.210000,4.230000
3,Croatia,HRV,Croatia,12.60,11.13,9.91,8.53,9.200000,11.620000,13.680000,15.940000,17.250000,17.290001,16.180000,13.100000,11.210000,8.430000,6.620000
4,Cyprus,CYP,Cyprus,5.30,4.54,3.92,3.66,5.360000,6.260000,7.860000,11.800000,15.870000,16.090000,14.910000,12.950000,11.050000,8.370000,7.070000
5,Czech Republic,CZE,Czech Republic,7.93,7.15,5.32,4.39,6.660000,7.280000,6.710000,6.980000,6.950000,6.110000,5.050000,3.950000,2.890000,2.240000,2.010000
6,Denmark,DNK,Denmark,4.83,3.90,3.80,3.68,6.410000,7.750000,7.770000,7.800000,7.380000,6.930000,6.280000,5.990000,5.830000,5.130000,5.020000
7,Estonia,EST,Estonia,8.03,5.92,4.59,5.46,13.550000,16.709999,12.330000,10.020000,8.630000,7.350000,6.190000,6.760000,5.760000,5.370000,4.450000
8,Finland,FIN,Finland,8.38,7.72,6.85,6.37,8.250000,8.390000,7.780000,7.690000,8.190000,8.660000,9.380000,8.820000,8.640000,7.360000,6.700000
9,France,FRA,France,8.49,8.45,7.66,7.06,8.740000,8.870000,8.810000,9.400000,9.920000,10.290000,10.350000,10.040000,9.410000,9.020000,8.440000
10,Germany,DEU,Germany,11.17,10.25,8.66,7.53,7.740000,6.970000,5.820000,5.380000,5.230000,4.980000,4.620000,4.120000,3.750000,3.380000,3.140000
11,Greece,GRC,Greece,9.99,9.01,8.40,7.76,9.620000,12.710000,17.870001,24.440001,27.469999,26.490000,24.900000,23.540001,21.490000,19.290001,17.309999
12,Hungary,HUN,Hungary,7.19,7.49,7.41,7.82,10.030000,11.170000,11.030000,11.000000,10.180000,7.730000,6.810000,5.120000,4.160000,3.710000,3.420000
13,Ireland,IRL,Ireland,4.34,4.42,4.98,6.77,12.610000,14.530000,15.350000,15.450000,13.740000,11.860000,9.910000,8.370000,6.710000,5.740000,4.950000
14,Italy,ITA,Italy,7.73,6.78,6.08,6.72,7.750000,8.360000,8.360000,10.660000,12.150000,12.680000,11.900000,11.690000,11.210000,10.610000,9.950000
15,Latvia,LVA,Latvia,10.03,7.03,6.05,7.74,17.520000,19.480000,16.209999,15.050000,11.870000,10.850000,9.870000,9.640000,8.720000,7.410000,6.310000
16,Lithuania,LTU,Lithuania,8.33,5.78,4.25,5.83,13.790000,17.809999,15.390000,13.370000,11.770000,10.700000,9.120000,7.860000,7.070000,6.150000,6.260000
17,Luxembourg,LUX,Luxembourg,4.49,4.73,4.07,5.06,5.120000,4.360000,4.900000,5.140000,5.850000,5.850000,6.670000,6.290000,5.520000,5.590000,5.600000
18,Malta,MLT,Malta,6.92,6.80,6.47,5.98,6.890000,6.850000,6.380000,6.200000,6.110000,5.730000,5.380000,4.690000,4.000000,3.660000,3.400000
19,Netherlands,NLD,Netherlands,5.87,5.00,4.15,3.65,4.350000,4.990000,4.980000,5.820000,7.240000,7.420000,6.870000,6.010000,4.840000,3.830000,3.380000
20,Poland,POL,Poland,17.75,13.84,9.60,7.12,8.170000,9.640000,9.630000,10.090000,10.330000,8.990000,7.500000,6.160000,4.890000,3.850000,3.280000
21,Portugal,PRT,Portugal,7.58,7.65,7.96,7.55,9.430000,10.770000,12.680000,15.530000,16.180000,13.890000,12.440000,11.070000,8.870000,6.990000,6.460000
22,Romania,ROU,Romania,7.17,7.27,6.41,5.79,6.860000,6.960000,7.180000,6.790000,7.100000,6.800000,6.810000,5.900000,4.930000,4.190000,3.910000
23,Slovak Republic,SVK,Slovak Republic,16.26,13.37,11.14,9.51,12.030000,14.380000,13.620000,13.960000,14.220000,13.180000,11.480000,9.670000,8.130000,6.540000,5.750000
24,Slovenia,SVN,Slovenia,6.51,5.95,4.82,4.37,5.860000,7.240000,8.170000,8.840000,10.100000,9.670000,8.960000,8.000000,6.560000,5.110000,4.450000
25,Spain,ESP,Spain,9.15,8.45,8.23,11.25,17.860001,19.860001,21.389999,24.790001,26.090000,24.440001,22.059999,19.639999,17.219999,15.260000,14.100000
26,Sweden,SWE,Sweden,7.49,7.07,6.16,6.24,8.350000,8.610000,7.800000,7.980000,8.050000,7.950000,7.430000,6.990000,6.720000,6.370000,6.830000

In [101]:
# Delete column (Country Name_y)

merge_Unemp_df_Clean =  merge_Unemp_df.drop(columns="Country Name_y")
merge_Unemp_df_Clean.head()

,Country Name_x,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,AUT,5.63,5.24,4.86,4.13,5.30,4.82,4.56,4.87,5.34,5.620000,5.72,6.01,5.50,4.85,4.49
1,Belgium,BEL,8.44,8.25,7.46,6.98,7.91,8.29,7.14,7.54,8.43,8.520000,8.48,7.83,7.09,5.95,5.36
2,Bulgaria,BGR,10.08,8.95,6.88,5.61,6.82,10.28,11.26,12.27,12.94,11.420000,9.14,7.58,6.16,5.21,4.23
3,Croatia,HRV,12.60,11.13,9.91,8.53,9.20,11.62,13.68,15.94,17.25,17.290001,16.18,13.10,11.21,8.43,6.62
4,Cyprus,CYP,5.30,4.54,3.92,3.66,5.36,6.26,7.86,11.80,15.87,16.090000,14.91,12.95,11.05,8.37,7.07

In [102]:
# Rename column (Country Name_x)
Final_Unemp_df_Clean = merge_Unemp_df_Clean.rename(columns={"Country Name_x":"Country Name"})
Final_Unemp_df_Clean

,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,AUT,5.63,5.24,4.86,4.13,5.300000,4.820000,4.560000,4.870000,5.340000,5.620000,5.720000,6.010000,5.500000,4.850000,4.490000
1,Belgium,BEL,8.44,8.25,7.46,6.98,7.910000,8.290000,7.140000,7.540000,8.430000,8.520000,8.480000,7.830000,7.090000,5.950000,5.360000
2,Bulgaria,BGR,10.08,8.95,6.88,5.61,6.820000,10.280000,11.260000,12.270000,12.940000,11.420000,9.140000,7.580000,6.160000,5.210000,4.230000
3,Croatia,HRV,12.60,11.13,9.91,8.53,9.200000,11.620000,13.680000,15.940000,17.250000,17.290001,16.180000,13.100000,11.210000,8.430000,6.620000
4,Cyprus,CYP,5.30,4.54,3.92,3.66,5.360000,6.260000,7.860000,11.800000,15.870000,16.090000,14.910000,12.950000,11.050000,8.370000,7.070000
5,Czech Republic,CZE,7.93,7.15,5.32,4.39,6.660000,7.280000,6.710000,6.980000,6.950000,6.110000,5.050000,3.950000,2.890000,2.240000,2.010000
6,Denmark,DNK,4.83,3.90,3.80,3.68,6.410000,7.750000,7.770000,7.800000,7.380000,6.930000,6.280000,5.990000,5.830000,5.130000,5.020000
7,Estonia,EST,8.03,5.92,4.59,5.46,13.550000,16.709999,12.330000,10.020000,8.630000,7.350000,6.190000,6.760000,5.760000,5.370000,4.450000
8,Finland,FIN,8.38,7.72,6.85,6.37,8.250000,8.390000,7.780000,7.690000,8.190000,8.660000,9.380000,8.820000,8.640000,7.360000,6.700000
9,France,FRA,8.49,8.45,7.66,7.06,8.740000,8.870000,8.810000,9.400000,9.920000,10.290000,10.350000,10.040000,9.410000,9.020000,8.440000
10,Germany,DEU,11.17,10.25,8.66,7.53,7.740000,6.970000,5.820000,5.380000,5.230000,4.980000,4.620000,4.120000,3.750000,3.380000,3.140000
11,Greece,GRC,9.99,9.01,8.40,7.76,9.620000,12.710000,17.870001,24.440001,27.469999,26.490000,24.900000,23.540001,21.490000,19.290001,17.309999
12,Hungary,HUN,7.19,7.49,7.41,7.82,10.030000,11.170000,11.030000,11.000000,10.180000,7.730000,6.810000,5.120000,4.160000,3.710000,3.420000
13,Ireland,IRL,4.34,4.42,4.98,6.77,12.610000,14.530000,15.350000,15.450000,13.740000,11.860000,9.910000,8.370000,6.710000,5.740000,4.950000
14,Italy,ITA,7.73,6.78,6.08,6.72,7.750000,8.360000,8.360000,10.660000,12.150000,12.680000,11.900000,11.690000,11.210000,10.610000,9.950000
15,Latvia,LVA,10.03,7.03,6.05,7.74,17.520000,19.480000,16.209999,15.050000,11.870000,10.850000,9.870000,9.640000,8.720000,7.410000,6.310000
16,Lithuania,LTU,8.33,5.78,4.25,5.83,13.790000,17.809999,15.390000,13.370000,11.770000,10.700000,9.120000,7.860000,7.070000,6.150000,6.260000
17,Luxembourg,LUX,4.49,4.73,4.07,5.06,5.120000,4.360000,4.900000,5.140000,5.850000,5.850000,6.670000,6.290000,5.520000,5.590000,5.600000
18,Malta,MLT,6.92,6.80,6.47,5.98,6.890000,6.850000,6.380000,6.200000,6.110000,5.730000,5.380000,4.690000,4.000000,3.660000,3.400000
19,Netherlands,NLD,5.87,5.00,4.15,3.65,4.350000,4.990000,4.980000,5.820000,7.240000,7.420000,6.870000,6.010000,4.840000,3.830000,3.380000
20,Poland,POL,17.75,13.84,9.60,7.12,8.170000,9.640000,9.630000,10.090000,10.330000,8.990000,7.500000,6.160000,4.890000,3.850000,3.280000
21,Portugal,PRT,7.58,7.65,7.96,7.55,9.430000,10.770000,12.680000,15.530000,16.180000,13.890000,12.440000,11.070000,8.870000,6.990000,6.460000
22,Romania,ROU,7.17,7.27,6.41,5.79,6.860000,6.960000,7.180000,6.790000,7.100000,6.800000,6.810000,5.900000,4.930000,4.190000,3.910000
23,Slovak Republic,SVK,16.26,13.37,11.14,9.51,12.030000,14.380000,13.620000,13.960000,14.220000,13.180000,11.480000,9.670000,8.130000,6.540000,5.750000
24,Slovenia,SVN,6.51,5.95,4.82,4.37,5.860000,7.240000,8.170000,8.840000,10.100000,9.670000,8.960000,8.000000,6.560000,5.110000,4.450000
25,Spain,ESP,9.15,8.45,8.23,11.25,17.860001,19.860001,21.389999,24.790001,26.090000,24.440001,22.059999,19.639999,17.219999,15.260000,14.100000
26,Sweden,SWE,7.49,7.07,6.16,6.24,8.350000,8.610000,7.800000,7.980000,8.050000,7.950000,7.430000,6.990000,6.720000,6.370000,6.830000

In [103]:
FV_Unemp_df_ND = Final_Unemp_df_Clean.round(decimals=2)
FV_Unemp_df_ND

,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,AUT,5.63,5.24,4.86,4.13,5.30,4.82,4.56,4.87,5.34,5.62,5.72,6.01,5.50,4.85,4.49
1,Belgium,BEL,8.44,8.25,7.46,6.98,7.91,8.29,7.14,7.54,8.43,8.52,8.48,7.83,7.09,5.95,5.36
2,Bulgaria,BGR,10.08,8.95,6.88,5.61,6.82,10.28,11.26,12.27,12.94,11.42,9.14,7.58,6.16,5.21,4.23
3,Croatia,HRV,12.60,11.13,9.91,8.53,9.20,11.62,13.68,15.94,17.25,17.29,16.18,13.10,11.21,8.43,6.62
4,Cyprus,CYP,5.30,4.54,3.92,3.66,5.36,6.26,7.86,11.80,15.87,16.09,14.91,12.95,11.05,8.37,7.07
5,Czech Republic,CZE,7.93,7.15,5.32,4.39,6.66,7.28,6.71,6.98,6.95,6.11,5.05,3.95,2.89,2.24,2.01
6,Denmark,DNK,4.83,3.90,3.80,3.68,6.41,7.75,7.77,7.80,7.38,6.93,6.28,5.99,5.83,5.13,5.02
7,Estonia,EST,8.03,5.92,4.59,5.46,13.55,16.71,12.33,10.02,8.63,7.35,6.19,6.76,5.76,5.37,4.45
8,Finland,FIN,8.38,7.72,6.85,6.37,8.25,8.39,7.78,7.69,8.19,8.66,9.38,8.82,8.64,7.36,6.70
9,France,FRA,8.49,8.45,7.66,7.06,8.74,8.87,8.81,9.40,9.92,10.29,10.35,10.04,9.41,9.02,8.44
10,Germany,DEU,11.17,10.25,8.66,7.53,7.74,6.97,5.82,5.38,5.23,4.98,4.62,4.12,3.75,3.38,3.14
11,Greece,GRC,9.99,9.01,8.40,7.76,9.62,12.71,17.87,24.44,27.47,26.49,24.90,23.54,21.49,19.29,17.31
12,Hungary,HUN,7.19,7.49,7.41,7.82,10.03,11.17,11.03,11.00,10.18,7.73,6.81,5.12,4.16,3.71,3.42
13,Ireland,IRL,4.34,4.42,4.98,6.77,12.61,14.53,15.35,15.45,13.74,11.86,9.91,8.37,6.71,5.74,4.95
14,Italy,ITA,7.73,6.78,6.08,6.72,7.75,8.36,8.36,10.66,12.15,12.68,11.90,11.69,11.21,10.61,9.95
15,Latvia,LVA,10.03,7.03,6.05,7.74,17.52,19.48,16.21,15.05,11.87,10.85,9.87,9.64,8.72,7.41,6.31
16,Lithuania,LTU,8.33,5.78,4.25,5.83,13.79,17.81,15.39,13.37,11.77,10.70,9.12,7.86,7.07,6.15,6.26
17,Luxembourg,LUX,4.49,4.73,4.07,5.06,5.12,4.36,4.90,5.14,5.85,5.85,6.67,6.29,5.52,5.59,5.60
18,Malta,MLT,6.92,6.80,6.47,5.98,6.89,6.85,6.38,6.20,6.11,5.73,5.38,4.69,4.00,3.66,3.40
19,Netherlands,NLD,5.87,5.00,4.15,3.65,4.35,4.99,4.98,5.82,7.24,7.42,6.87,6.01,4.84,3.83,3.38
20,Poland,POL,17.75,13.84,9.60,7.12,8.17,9.64,9.63,10.09,10.33,8.99,7.50,6.16,4.89,3.85,3.28
21,Portugal,PRT,7.58,7.65,7.96,7.55,9.43,10.77,12.68,15.53,16.18,13.89,12.44,11.07,8.87,6.99,6.46
22,Romania,ROU,7.17,7.27,6.41,5.79,6.86,6.96,7.18,6.79,7.10,6.80,6.81,5.90,4.93,4.19,3.91
23,Slovak Republic,SVK,16.26,13.37,11.14,9.51,12.03,14.38,13.62,13.96,14.22,13.18,11.48,9.67,8.13,6.54,5.75
24,Slovenia,SVN,6.51,5.95,4.82,4.37,5.86,7.24,8.17,8.84,10.10,9.67,8.96,8.00,6.56,5.11,4.45
25,Spain,ESP,9.15,8.45,8.23,11.25,17.86,19.86,21.39,24.79,26.09,24.44,22.06,19.64,17.22,15.26,14.10
26,Sweden,SWE,7.49,7.07,6.16,6.24,8.35,8.61,7.80,7.98,8.05,7.95,7.43,6.99,6.72,6.37,6.83

In [104]:
# Unpivot three dataframes.

FV_Unemp_df = pd.melt(FV_Unemp_df_ND,id_vars=["Country Name", "Country Code"],var_name = 'Year', value_name = 'Unemployment')
FV_Unemp_df

        Country Name Country Code  Year  Unemployment
0            Austria          AUT  2005          5.63
1            Belgium          BEL  2005          8.44
2           Bulgaria          BGR  2005         10.08
3            Croatia          HRV  2005         12.60
4             Cyprus          CYP  2005          5.30
..               ...          ...   ...           ...
400          Romania          ROU  2019          3.91
401  Slovak Republic          SVK  2019          5.75
402         Slovenia          SVN  2019          4.45
403            Spain          ESP  2019         14.10
404           Sweden          SWE  2019          6.83

[405 rows x 4 columns]

In [105]:
FV_Unemp_df.sort_values("Country Name")

    Country Name Country Code  Year  Unemployment
0        Austria          AUT  2005          5.63
162      Austria          AUT  2011          4.56
243      Austria          AUT  2014          5.62
351      Austria          AUT  2018          4.85
216      Austria          AUT  2013          5.34
..           ...          ...   ...           ...
134       Sweden          SWE  2009          8.35
323       Sweden          SWE  2016          6.99
80        Sweden          SWE  2007          6.16
188       Sweden          SWE  2011          7.80
404       Sweden          SWE  2019          6.83

[405 rows x 4 columns]

In [106]:
FV_Unemp_df_ND = FV_Unemp_df.round(decimals=2)
FV_Unemp_df_ND

        Country Name Country Code  Year  Unemployment
0            Austria          AUT  2005          5.63
1            Belgium          BEL  2005          8.44
2           Bulgaria          BGR  2005         10.08
3            Croatia          HRV  2005         12.60
4             Cyprus          CYP  2005          5.30
..               ...          ...   ...           ...
400          Romania          ROU  2019          3.91
401  Slovak Republic          SVK  2019          5.75
402         Slovenia          SVN  2019          4.45
403            Spain          ESP  2019         14.10
404           Sweden          SWE  2019          6.83

[405 rows x 4 columns]

In [107]:
FV_Unemp_df_ND.to_csv("Resources/Clean_Unemployment.csv", index=False)